


<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="/cs">DTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span id="menuToggle" class="fa fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
        <a class="nav-link active" href="/cs"></a>
      </li>

       <li class="nav-item">
        <a class="nav-link" href="/cs">Projekty <small>a reference</small> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Blog
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>

      <div class="social-icons">
        <a href="#"><div class="circle"></div></a>
      </div>
  </div>
</nav>


   
<script>
$(document).ready( function (){


  $(".navbar-toggler").click( function(){
  if($(this).children("#menuToggle").hasClass("fa-bars")){
    $(this).children("#menuToggle").addClass("fa-times")
    $(this).children("#menuToggle").removeClass("fa-bars")

  } else {
    $(this).children("#menuToggle").addClass("fa-bars")
    $(this).children("#menuToggle").removeClass("fa-times")

  }
  });

});

</script>

