@font-face {
  font-family: 'ssp-200';
  src: url(../../static/fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf)
    format('truetype');
}

@font-face {
  font-family: 'ssp-200-i';
  src: url(../../static/fonts/SourceSansPro/SourceSansPro-ExtraLightItalic.ttf)
    format('truetype');
}

@font-face {
  font-family: 'ssp-300-i';
  src: url(../../static/fonts/SourceSansPro/SourceSansPro-Light.ttf)
    format('truetype');
}

@font-face {
  font-family: 'ssp-300-i';
  src: url(../../static/fonts/SourceSansPro/SourceSansPro-LightItalic.ttf)
    format('truetype');
}

@font-face {
  font-family: 'ssp-400';
  src: url(../../static/fonts/SourceSansPro/SourceSansPro-Regular.ttf)
    format('truetype');
}

@font-face {
  font-family: 'ssp-600';
  src: url(../../static/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf)
    format('truetype');
}

@font-face {
  font-family: 'ssp-600-i';
  src: url(../../static/fonts/SourceSansPro/SourceSansPro-SemiBoldItalic.ttf)
    format('truetype');
}
