@import '/node_modules/bootstrap/dist/css/bootstrap.css';
@import '/node_modules/font-awesome/css/font-awesome.css';

@import './variables.scss';
@import './fonts.scss';

html {
  font-family: 'ssp-600-i' !important;
}

nav {
  background-color: $primary-color;
  height: 4rem;

  a {
    font-family: 'ssp-600' !important;
    color: $secondary-color !important;
  }

  div {
    background-color: $primary-color !important;
  }

  div .circle {
    background-color: red;
    height: 30px;
    width: 30px;
    float: right;
  }
}
